## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import weather_api_key

# Configure gmaps
gmaps.configure(api_key=weather_api_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Lompoc,US,65.57,clear sky,34.64,-120.46,"Holiday Inn Express Lompoc, an IHG Hotel"
1,5,Hobyo,SO,78.31,overcast clouds,5.35,48.53,Halane Hotel and Restaurent
2,6,Codrington,AU,66.18,scattered clouds,-38.27,141.97,Codrington Gardens Bed And Breakfast
3,8,Ribeira Do Pombal,BR,81.46,broken clouds,-10.83,-38.54,Pousada Central
4,10,Hualmay,PE,71.56,few clouds,-11.10,-77.61,Hotel Restaurant Turístico Casablanca
5,12,Busselton,AU,60.08,overcast clouds,-33.65,115.33,Observatory Guest House
6,18,Biu,NG,67.42,few clouds,10.61,12.19,EYN LCC MANDARAGIRAU
7,19,Arraial Do Cabo,BR,75.16,broken clouds,-22.97,-42.03,Pousada Porto Praia
8,20,Kouango,CF,80.06,broken clouds,4.99,19.96,NaN
9,21,Rikitea,PF,75.76,overcast clouds,-23.12,-134.97,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Rio Grande"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Rio Grande"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Castro"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Ribeira Do Pombal"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Arraial Do Cabo"] 
vacation_stops = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
22,42,Rio Grande,BR,73.51,scattered clouds,-32.03,-52.1,Hotel Atlântico Rio Grande

In [7]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
22,42,Rio Grande,BR,73.51,scattered clouds,-32.03,-52.1,Hotel Atlântico Rio Grande

In [8]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,45,Castro,BR,72.46,broken clouds,-24.79,-50.01,CHACARA BAILLY

In [9]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,8,Ribeira Do Pombal,BR,81.46,broken clouds,-10.83,-38.54,Pousada Central

In [10]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,19,Arraial Do Cabo,BR,75.16,broken clouds,-22.97,-42.03,Pousada Porto Praia

In [11]:
vacation_stops

[    City_ID        City Country  Max Temp Current Description    Lat   Lng  \
 22       42  Rio Grande      BR     73.51    scattered clouds -32.03 -52.1

                     Hotel Name
 22  Hotel Atlântico Rio Grande  ,
     City_ID    City Country  Max Temp Current Description    Lat    Lng  \
 24       45  Castro      BR     72.46       broken clouds -24.79 -50.01

         Hotel Name
 24  CHACARA BAILLY  ,
    City_ID               City Country  Max Temp Current Description    Lat  \
 3        8  Ribeira Do Pombal      BR     81.46       broken clouds -10.83

      Lng       Hotel Name
 3 -38.54  Pousada Central  ,
    City_ID             City Country  Max Temp Current Description    Lat  \
 7       19  Arraial Do Cabo      BR     75.16       broken clouds -22.97

      Lng           Hotel Name
 7 -42.03  Pousada Porto Praia  ]

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (-32.03, -52.1), End: (-32.03, -52.1)
Stop 1: (-24.79, -50.01), Stop 2: (-10.83, -38.54), Stop 3: (-22.97, -42.03)

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}

fig = gmaps.figure(layout=figure_layout)

vacation_itinerary = gmaps.directions_layer(start,
                                            end,
                                            waypoints=[stop1, stop2, stop3],
                                            travel_mode='DRIVING'
                                           )

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='600px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                          vacation_stop1,
                          vacation_stop2,
                          vacation_stop3,
                          vacation_start],
                         ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,42,Rio Grande,BR,73.51,scattered clouds,-32.03,-52.10,Hotel Atlântico Rio Grande
1,45,Castro,BR,72.46,broken clouds,-24.79,-50.01,CHACARA BAILLY
2,8,Ribeira Do Pombal,BR,81.46,broken clouds,-10.83,-38.54,Pousada Central
3,19,Arraial Do Cabo,BR,75.16,broken clouds,-22.97,-42.03,Pousada Porto Praia
4,42,Rio Grande,BR,73.51,scattered clouds,-32.03,-52.10,Hotel Atlântico Rio Grande

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
#fig.add_layer(vacation_itinerary)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))